#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE	{{ LDAPVars.suffixBASE }}
HOST	localhost
PORT	389
URI	ldap://localhost

###
##TLS	hard
TLS_CACERTDIR	/opt/ldap/etc/openldap/ssl
TLS_CACERT	/opt/ldap/etc/openldap/ssl/SLAPD.cacert.pem
# never allow try demand|hard
TLS_REQCERT	demand
###

SIZELIMIT	24
TIMELIMIT	30
DEREF		never

###
# EOF
###

