
auth_ldap_cache_enabled			on;
auth_ldap_cache_expiration_time		10000;
auth_ldap_cache_size			1000;

ldap_server ldapdb_uplink {

    url "ldap://ldapdb/o=htaccess,{{ MercurialVars.suffixBASE }}?uid?sub?(|(objectClass=inetOrgPerson)(objectClass=person))";
    binddn "cn=root,{{ MercurialVars.suffixBASE }}";
    binddn_passwd "{{ MercurialVars.rootPW }}";

    group_attribute uniquemember;
    group_attribute_is_dn on;

    # list of allowed users
    # require 'valid_user' cannot be used together with 'user' as valid user is a superset
    require valid_user;

    satisfy any;

}

server {
    listen  80;

    root /opt/mercurial/repos;
    index index.html index.htm index.php;

    # Make site accessible from http://set-ip-address.xip.io
    server_name localhost;

    add_header		'Cache-Control' 'no-cache,no-store'	always;
    add_header		'Pragma' 'no-cache'			always;
    add_header		'X-Frame-Options' 'SAMEORIGIN'		always;
    add_header		'X-XSS-Protection' "1; mode=block"	always;
    add_header		'X-Content-Type-Options' 'nosniff'	always;

    # performance tuning
    sendfile off;
    client_body_timeout 5m;
    client_header_timeout 5m;
    keepalive_timeout 5m;
    send_timeout 5m;
    client_body_buffer_size 1024K;
    client_header_buffer_size 8k;
    client_max_body_size 2000m;
    large_client_header_buffers 8 512k;

    limit_conn conn_limit_per_ip 100;
    limit_req zone=req_limit_per_ip burst=100 nodelay;

    access_log /opt/nginx/logs/mercurial/access.log;
    error_log  /opt/nginx/logs/mercurial/error.log error;

    #charset utf-8;

    location /static {
            alias /usr/local/lib/python2.7/dist-packages/mercurial/templates/static/;
            # alias /usr/share/mercurial/templates/static/;
            expires 30d;
    }

    location / {
        auth_ldap "LDAP Auth";
        auth_ldap_servers ldapdb_uplink;

        gzip off; #gzip makes scripts feel slower since they have to complete before getting gzipped
        uwsgi_pass unix:/tmp/hgweb.sock;
        include uwsgi_params;
        uwsgi_param SERVER_ADDR $server_addr;
        uwsgi_param REMOTE_USER $remote_user;
        proxy_read_timeout 1200;

    }

    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    # Deny .htaccess file access
    location ~ /\.ht {
        deny all;
    }
}
